#-----------------------
# directories
#-----------------------
PHP-Parser/*
tests/*
old/*
#-----------------------
# files
#-----------------------
run_tests.php
compiled
.vscode
yakpro-po-test*.cnf
